RewriteEngine On

RewriteBase /iiigel

RewriteRule ^config/.*$ - [L]
RewriteRule ^src/.*$ - [L]
RewriteRule ^vendor/.*$ - [L]

RewriteRule ^upload/.*$ - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

######
# Set home path here (line 19).
#
# That is, relative to the main URL, set the path to index.php.
#  Example 1: If you access index.php via www.url.tld/index.php, enter RewriteRule ^([^?]*)$ /index.php?path=$1 [NC,L,QSA]
#  Example 2: If you access index.php via www.url.tld/path/index.php, enter RewriteRule ^([^?]*)$ /path/index.php?path=$1 [NC,L,QSA]
#  Example 3: If you access index.php via www.url.tld/iiigel/index.php, do not change anything
######

RewriteRule ^([^?]*)$ index.php?path=$1 [NC,L,QSA]
