
{% macro mainContent(sUrl, aGroup, aGroupLeaders, aNotGroupLeaders, aGroupMembers, aNotGroupMembers, aGroupModules, bGroupEdit) %}
  <div>
   <h3>{{ aGroup.sName }} <small> - {{ aGroup.nIdInstitution }}</small></h3>
   <script type="text/javascript" src="res/script/group.js"></script>
   <div>
    <h5>
     {% if aGroupLeaders|length > 1 %}{% trans %}user2group.leader{% plural 2 %}user2group.leader.plural{% endtrans %}{% else %}{% trans 'user2group.leader' %}{% endif %}:
    </h5>
    <table class="table table-striped table-condensed table-hover">
     <thead>
	  <tr>
	   <th width="10%">{% trans 'online' %}</th>
	   <th width="40%">{% trans 'name' %}</th>
	   <th></th><th></th>
	  </tr>
	 </thead>
		{% for oRow in aGroupLeaders %}
		 <tr onclick="Group.open(1, '{{ oRow.sHashId }}');" >
		  <td align = 'center'>
		   {% if oRow.bOnline %}
            <i class="fa fa-globe" style="color: #00DD00; margin-top: 8px;" ></i>
           {% else %}
            <i class="fa fa-globe" style="color: #880000; margin-top: 8px;" ></i>
           {% endif %}
		  </td>
		  <td><a href="{{ sUrl }}Profile/{{ oRow.sHashId }}">
		   <img src="http://www.gravatar.com/avatar/{{ oRow.sHash }}.jpg?s=32&d=mm" class="img-circle" width="32" style="margin-bottom: 8px; margin-right: 8px;" />
		   <b>{{ oRow.sName }}</b>
		  </a></td>
		  <td><script type="text/javascript">
		  	Group.create(1, "{{ oRow.sHashId }}", {
		  		"sName" : "{{ oRow.sName }}",
		  		"sHash" : "{{ oRow.sHash }}",
		  		"bOnline" : {{ oRow.bOnline }}
		  	});
		  </script></td>
		  <td></td>
		 </tr>
		{% endfor %}
	 {% if bGroupEdit %}
	  <tr><form id="fAddAdmin" action="{{ sUrl }}Group/addAdmin/{{ aGroup.sHashId }}" method="GET">
	   <td></td>
	   <td>
	    <div style="margin-top: 8px;">
	     <select id="sHashIdUser" name="sHashIdUser" style="width: 100%">
	      {% for oRow in aNotGroupLeaders %}
	       <option value="{{ oRow.sHashId }}" >
	        {{ oRow.sName }}
	       </option>
	      {% endfor %}
	     </select>
	    </div>
	   </td>
	   <td></td>
	   <td>
	    <a class="btn btn-primary" style="float: right; margin-top: 4px; margin-bottom: 4px; margin-right: 8px;" onclick="return Group.click('fAddAdmin');">{% trans 'add' %}</a>
	   </td>
	  </form></tr>
	 {% endif %}
	</table>
	<h5>
	 {% if aGroupMembers|length > 1 %}{% trans %}user2group.member{% plural 2 %}user2group.member.plural{% endtrans %}{% else %}{% trans 'user2group.member' %}{% endif %}:
   	</h5>
	<table class="table table-striped table-condensed table-hover">
	 <thead>
	  <tr>
	   <th width="10%">{% trans 'online' %}</th>
	   <th width="40%">{% trans 'name' %}</th>
	   <th width="10%">{% trans 'module' %}</th>
	   <th></th>
	  </tr>
	 </thead>
		{% for oRow in aGroupMembers %}
		 <tr onclick="Group.open(0, '{{ oRow.sHashId }}');" >
		  <td align = 'center'>
		   {% if oRow.bOnline %}
            <i class="fa fa-globe" style="color: #00DD00; margin-top: 8px;" ></i>
           {% else %}
            <i class="fa fa-globe" style="color: #880000; margin-top: 8px;" ></i>
           {% endif %}
		  </td>
		  <td><a href="{{ sUrl }}Profile/{{ oRow.sHashId }}">
		   <img src="http://www.gravatar.com/avatar/{{ oRow.sHash }}.jpg?s=32&d=mm" class="img-circle" width="32" style="margin-bottom: 8px; margin-right: 8px;" />
		   {{ oRow.sName }}
		  </a></td>
		  <td>
		   <img width="32" src="{{ sUrl }}{{ oRow.sModuleImage }}" alt="Image" style="float: left; margin-left: 8px; margin-right: 8px;">
		  </td>
		  <td>
		   <div class="progress" style="margin-top: 8px;">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ oRow.nModuleProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ oRow.nModuleProgress }}%">
            </div>
           </div>
           <script type="text/javascript">
		  	Group.create(0, "{{ oRow.sHashId }}", {
		  		"sName" : "{{ oRow.sName }}",
		  		"sHash" : "{{ oRow.sHash }}",
		  		"sModuleHashId" : "{{ oRow.sModuleHashId }}",
		  		"bOnline" : {{ oRow.bOnline }}
		  	});
		   </script>
		  </td>
		 </tr>
		{% endfor %}
	 {% if bGroupEdit %}
	  <tr><form id="fAddUser" action="{{ sUrl }}Group/addUser/{{ aGroup.sHashId }}" method="GET">
	   <td></td>
	   <td>
	    <div style="margin-top: 8px;">
	     <select id="sHashIdUser" name="sHashIdUser" style="width: 100%">
	      {% for oRow in aNotGroupMembers %}
	       <option value="{{ oRow.sHashId }}" >
	        {{ oRow.sName }}
	       </option>
	      {% endfor %}
	     </select>
	    </div>
	   </td>
	   <td></td>
	   <td>
	    <div style="margin-top: 8px;">
	     <select id="sHashIdModule" name="sHashIdModule" style="min-width: 50%">
	      {% for oRow in aGroupModules %}
	       <option value="{{ oRow.sHashId }}" >
	        {{ oRow.sName }}
	       </option>
	      {% endfor %}
	     </select>
	     <a class="btn btn-primary" style="float: right; margin-top: -4px; margin-right: 8px;" onclick="return Group.click('fAddUser');">{% trans 'add' %}</a>
	    </div>
	   </td>
	  </form></tr>
	 {% endif %}
	</table>
   </div>
  </div>
{% endmacro %}

{% macro modules(aGroupModules, bGroupEdit) %}
 <div>
  <h3><i class="fa fa-angle-right"></i>
   {% if aGroupModules|length > 1 %}
   		{% trans %}module{% plural 2 %}module.plural{% endtrans %}
   {% else %}
   		{% trans 'module' %}
   {% endif %}
  </h3>
  <table class="table table-striped table-condensed table-hover">
   {% for oRow in aGroupModules %}
    <tr><td><a href="{{ sUrl }}learn/{{ oRow.sHashId }}">
	 <img width="48" src="{{ sUrl }}{{ oRow.sImage }}" alt="Image" style="float: left; margin-left: 16px; margin-right: 8px;">
     <div>
      <h4><b>{{ oRow.sName }}</b></h4>
     </div>
    </a></td></tr>
   {% endfor %}
  </table>
 </div>
{% endmacro %}

{% import _self as get %}
{% extends "page.html" %}

{% set nRows = 1 %}
{% set nColumns = [ 2 ] %}
{% set aContent = { '0': { '0': get.mainContent(sUrl, aGroup, aGroupLeaders, aNotGroupLeaders, aGroupMembers, aNotGroupMembers, aGroupModules, (bGroupAdmin) or (bAdmin)), '1' : get.modules(aGroupModules, (bGroupAdmin) or (bAdmin)) } } %}

{% block content %}
    {{ parent() }}
{% endblock %}
