{% macro mainContent(sUrl, bGroupAdmin, oModule, oChapter, nEditorWaitTime, bHandin, oHandin) %}
    <div class="row mt">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="showback iiigel-scroll" id="iiigel-chapter">
                <h3><i class="fa fa-angle-right"></i> {{ oChapter.sName }}</h3>
                {{ oChapter.sText|raw }}
            </div>
            {% if oChapter.bCloud %}
                <div class="showback hide iiigel-scroll" id="iiigel-cloud">
                    <ol class="breadcrumb"></ol>
                    <div class="row">
                    	{% if bHandin %}
                    	<textarea id="iiigel-handin-cloud" name="{{ oHandin.sHashId }}" hidden="true">{{ oHandin.sCloud }}</textarea>
                        <div class="col-lg-12 col-md-8 col-sm-12">
                        {% else %}
                        <div class="col-lg-8 col-md-8 col-sm-12">
                        {% endif %}
                            <table class="table table-striped table-hover table-condensed" id="iiigel-cloudbrowser">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>{% trans 'name' %}</th>
                                        <th>{% trans 'cloud.size' %}</th>
                                        <th>{% trans 'cloud.lastchange' %}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="5">{% trans 'table.loading' %}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% if not bHandin %}
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <h4><i class="fa fa-angle-right"></i> {% trans 'cloud.create' %}</h4>
                            <p>
                                <a href="#" class="btn btn-default iiigel-createdir"><i class="fa fa-folder"></i> {% trans 'cloud.createdir' %}</a>
                                <a href="#" class="btn btn-default iiigel-createfile"><i class="fa fa-file-text"></i> {% trans 'cloud.createfile' %}</a>
                            </p>
                            <h4><i class="fa fa-angle-right"></i> {% trans 'cloud.upload' %}</h4>
                            <p>
                                <div class="input-group">
                                    <input type="url" id="sUrl" name="sUrl" placeholder="{% trans 'cloud.importfromurl' %}" class="form-control" />
                                    <span class="input-group-btn">
                                        <a href="#" class="btn btn-default"><i class="fa fa-download"></i></a>
                                    </span>
                                </div>
                            </p>
                            <p>{% trans 'cloud.or' %}</p>
                            <p>
                                <form class="form-horizontal" method="post" action="{{ sUrl }}Iiigel/uploadFromHost" enctype="multipart/form-data">
                                    <input id="sFile-input" name="sFile-input" type="file" class="form-control input-md iiigel-nodefaultupload" multiple="multiple" />
                                </form>
                            </p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if (oChapter.bInterpreter) and (oChapter.sInterpreter != '') %}
                <div class="showback hide iiigel-scroll" id="iiigel-interpreter">
                </div>
            {% endif %}
            {% if oChapter.bInterpreter %}
                <div class="showback iiigel-scroll" id="iiigel-editor" data-editorwaittime="{{ oChapter.bLiveInterpretation? nEditorWaitTime : -1 }}">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <div id="iiigel-editor-ace"></div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">
                            {% if oChapter.bLiveInterpretation == 0 %}
                                <a href="#" class="btn btn-success iiigel-interpret"><i class="fa fa-play"></i> {% trans 'mode.interpret' %}</a>
                            {% endif %}
                            <div class="iiigel-files{{ oChapter.bLiveInterpretation ? '' : ' mt' }}"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="showback" id="iiigel-module">
                <h4>
                    <i class="fa fa-angle-right"></i>
                    {{ oModule.sName }}
                </h4>
                <div class="progress small">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ bHandin? oModule.getProgress(oHandin.nIdCreator) : oModule.nProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ bHandin? oModule.getProgress(oHandin.nIdCreator) : oModule.nProgress }}%"></div>
                </div>
                <div class="list-group">
                	{% for oChapter in oModule.aChapter %}
                        <a href="{{ sUrl }}learn/{{ oChapter.sHashId }}" {{ bHandin? 'onclick="return false;"' : '' }} data-chapter="{{ oChapter.sHashId }}" class="list-group-item{{ (oChapter.nId == (bHandin? oHandin.nIdChapter : oModule.nCurrentChapter) ? ' active' : '') }} {{ bHandin? 'disabled' : '' }}">{{ loop.index }}. {{ oChapter.sName }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="showback" id="iiigel-controls">
                <p class="btn-group">		
                    <a class="btn btn-default tooltips active" href="#iiigel-chapter" data-title="{% trans 'mode.chapter' %}">
                        <i class="fa fa-code hidden-sm hidden-xs hidden-lg"></i>
                        <span class="hidden-md">{% trans 'mode.chapter' %}</span>
                    </a>
                    {% if (oChapter.bInterpreter) and (oChapter.sInterpreter != '') %}
                        <a class="btn btn-default tooltips" href="#iiigel-interpreter" data-title="{% trans 'mode.interpretation' %}">
                            <i class="fa fa-language hidden-sm hidden-xs hidden-lg"></i> 
                            <span class="hidden-md">{% trans 'mode.interpretation' %}</span>
                        </a>
                    {% endif %}
                    {% if oChapter.bCloud %}
                        <a class="btn btn-default tooltips" href="#iiigel-cloud" data-title="{% trans 'mode.cloud' %}">
                            <i class="fa fa-hdd-o hidden-sm hidden-xs hidden-lg"></i> 
                            <span class="hidden-md">{% trans 'mode.cloud' %}</span>
                        </a>
                    {% endif %}
                </p>
                {% if not bHandin %}
                <p>
                    <a class="btn btn-primary iiigel-handin tooltips" href="#" data-title="{% trans 'mode.handin' %}">
                        <i class="fa fa-hand-o-right hidden-sm hidden-xs hidden-lg"></i>
                        <span class="hidden-md">{% trans 'mode.handin' %}</span>
                    </a>
                    <a class="btn btn-primary iiigel-help tooltips" href="#" data-title="{% trans 'mode.helpwanted' %}">
                        <i class="fa fa-question hidden-sm hidden-xs hidden-lg"></i>
                        <span class="hidden-md">{% trans 'mode.helpwanted' %}</span>
                    </a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}


{% import _self as get %}
{% extends "page.html" %}

{% set nRows = 1 %}
{% set nColumns = [ 1 ] %}
{% set aContent = { '0': { '0': get.mainContent(sUrl, bGroupAdmin, oModule, oChapter, nEditorWaitTime, bHandin and bGroupAdmin, oHandin) } } %}

{% block content %}
    {{ parent() }}
{% endblock %}
