body {
    padding-top: 70px;
}

.code {    
    border:1px outset gray;
    margin:.5em; 
    padding:.5em;
    background-color:#FFFF99;
    font-family:monospace;
    font-weight: bold;
}
.tasks {
    border:1px outset gray;
    margin:.5em; 
    padding:.5em; 
    color:#009933; 
    background-color:#FFFFCC;
}

iframe {
	margin: 0;
	width: 100%;
	border: none;
	overflow: hidden;
}

.dataTables_wrapper .col-sm-6 > div.dataTables_filter > label > input {
    margin-left: 5px;
}

.dataTables_wrapper .col-sm-6 > div.dataTables_filter {
    float: right;
}

#main-content table tr.Iiigel-click {
    cursor: pointer;
}

.box0 p {
    color: #FFF;
}

.box1 {
    display: block;
}

.editable-pre-wrapped {
    white-space: normal;
}

.progress.small {
    margin: 20px 0;
    height: 10px;
}

.list-group {
    max-height: 400px;
    overflow-y: auto;
}

.iiigel-scroll {
    overflow: auto;
}

.iiigel-unobtrusive {
    background-color: transparent;
    border-color: #DDD;
    color: #DDD;
}

#iiigel-editor-ace {
    font-size: 14px;
    background-color: #FFF;
}

#iiigel-cloudbrowser tbody tr[data-type] {
    cursor: pointer;
}

#iiigel-editor a.iiigel-interpret {
    display: block;
}

#iiigel-editor a.iiigel-close {
}

#iiigel-editor a.iiigel-close:hover {
    color: #CCC;
}

#iiigel-editor .iiigel-files .btn-group {
    width: 100%;
    margin-bottom: 3px;
}

#iiigel-editor .iiigel-files .btn-group .btn[data-hash] {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

#iiigel-editor .iiigel-files .btn-group .btn[data-close] {
    width: 20%;
    padding: 6px 0;
}


.debug {
    margin: 10px 0;
    padding: 5px;
    text-align: left;
    border: 1px solid #F00;
    clear: both;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><text x="70%" y="50" style="font-family: Arial; font-size: 60; fill: #CCC;">DEBUG output</text></svg>');
}
.debug .debug {
    float: left;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
}
.debug table {
    margin: 10px 0;
}
.debug h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    font-size: 1em;
    color: #F00;
}
